.h1 {
	font-size: 34px;
	font-weight: 700;
	line-height: normal;
}

.h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: normal;
}

.h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
}