html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--white);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.underline {
	text-decoration: underline;
}

:root {
	--black: #2C2C2C;
	--black-pale: #4B4B4B;
	--black-pale-pale: #6E6E6E;
	--black-stroke: #303030;
	--grey-pale: #F5F5F5;
	--white: #FFF;
	--primary: #1473E6;
	--primary-pale: #E5F4FF;
}

.wrapper {
	display: grid;
	grid-template-columns: auto [startline] 1fr [endline] auto;
	grid-template-rows: auto 1fr;
	gap: 40px;
}

.header, .blog {
	grid-column: startline / endline;
}
