/* stylelint-disable media-feature-range-notation */
html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--white);


}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.underline {
	text-decoration: underline;
}

:root {
	--black: #2C2C2C;
	--black-pale: #4B4B4B;
	--black-pale-pale: #6E6E6E;
	--black-stroke: #303030;
	--grey-pale: #F5F5F5;
	--white: #FFF;
	--primary: #1473E6;
	--primary-pale: #E5F4FF;
	--grey-outline: rgba (40, 40, 40, 0.16);
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-width: 350px;
	max-width: min(calc(100vw - 200px), 1800px);
	margin: 0 auto;
}


.gap-6 {
	gap: 6px;
}

.gap-8 {
	gap: 8px;
}

.gap-12 {
	gap: 12px;
}