@media (width > 1550px) {
	.blogGrid {
		display: grid;
		grid-template-columns: repeat(4, 350px);
		gap: 50px;
	}
}

@media (width <= 1550px) {
	.blogGrid {
		display: grid;
		grid-template-columns: repeat(3, 350px);
		gap: 50px;
	}
}

@media (width <= 1150px) {
	.blogGrid {
		display: grid;
		grid-template-columns: repeat(2, 350px);
		gap: 50px;
	}
}

@media (width <= 800px) {
	.blogGrid {
		display: grid;
		grid-template-columns: 350px;
	}
}